<h1><%= @repo.slug %></h1>
<%= form_tag root_path, method: :get, role: 'form' do %>
  <div class="form-group">
    <label for="env">Select env</label> : <%= select_tag :env, options_for_select(@envs, @env), class: 'form-control' %>
  </div>
<% end %>
<br />
<table class="table">
  <thead>
    <tr>
      <th></th>
<% @rvms.each do |rvm| %>
      <th><%= rvm %></th>
<% end %>
    </tr>
  </thead>
  <tbody>
<% @duration_table.each do |number, durations| %>
    <tr>
      <td><%= number %></td>
<% @rvms.each do |rvm| %>
      <td class="no-<%= durations.values.compact.sort.index(durations[rvm]) %>"><%= durations[rvm] %></td>
<% end %>
    </tr>
<% end %>
  </tbody>
</table>

<script>
$('#env').on('change', function() {
  this.form.submit();
});
</script>
